# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pyc

# Debug files
*.dSYM/

# autoconf and configure
config.log
config.status
autom4te.cache
/Makefile
aclocal.m4

# Doxygen output
doxygen/

# HowToLoopChainIR
HowToLoopChainIR/bin/*

# Third-Party Builds
third-party/install/
third-party/build/
third-party/initialized

# Test outputs
test/unit-tests/bin/*
test/regression-tests/*.dir
test/regression-tests/*.log

# Install output
/installed.txt
